API_ID=22450448
API_HASH=dd2afa37dc250d6eeb856930304bd37d
BOT_TOKEN=7355659616:AAEr06At9Uyt61c1dmLSMOXwiK29W-VayIg
LOGGER_ID=-1002073717077 
MONGO_DB_URI=mongodb+srv://BrandedSupportGroup:BRANDED_WORLD@cluster0.v4odcq9.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7160246535
STRING_SESSION=BQFWkRAAxHFdhrx09HqSib2Lhfz_PvD8Yp-O-S9dAPl6useQzhLwNlvRfIwvhCCG8bvi-DkQiAZiodATtsnly0VZOGlG4OQNuktlCPRLFLaUQ3mFJvphJGPfD4wm0Pd45jnEfXPyxkX3zVfCTiqCMjc0dyd5-jgxPboV6-J_xA_wkdcbFY6Ic8CmGrunUji8l6tdiSbLadf0HOQg06jKYkdiCKYOz5_RcOZsKK-e1VRyLqbi9dDpB2SAjYN5QXRXdNhVRatBhm2xYI-nzvNnf_IAG1vdntl0AwkLYTrPa7psg60ePgrWJev6X7HN8T3LYpV2VeEcpyKjo-1KuoruHkENUpO0uwAAAAGYpbyhAA
